body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image {
  border-radius: 50%;
  height:150px;
  width:150px;
}

.button {
  background-color: red;
  color: white;
  border-radius: 10%;
  border: none;
  margin-left: 15%;
  margin-top: 40%;
}

.button:hover {
  opacity:3;
}

.ahh{
  justify-content: center;
  align-items: center;
}
